<div class="modal-header">
    <h3 class="modal-title">设备信息</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>
        <!-- alert -->
        <div>
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">车架号码:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入车架号码" class="form-control" readonly name="vehicleIdentifyNum" ng-model="device.vehicleIdentifyNum">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">车牌号码:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入车牌号码" class="form-control"  name="vehicleNum" ng-model="device.vehicleNum" readonly>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">所属分组:</label>
            <div class="col-sm-8">
                <button class="btn btn-default" ng-click="selectVehicleGroup()">请选择分组</button>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">设备类型:</label>
            <div class="col-sm-8">
                <select  ng-options=" dtype.id as dtype.deviceType.deviceTypeName for dtype in deviceTypes"  name="deviceType.id" class="form-control w-lg m-r-xs pull-left" ng-model="device.deviceType.id"  disabled>

                </select>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">SN号:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入SN号" class="form-control"  name="code" ng-model="device.code" readonly >
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">SIM号码:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入SIM号码" class="form-control"  name="simCode" ng-model="device.simCode" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">激活状态:</label>
            <div class="col-sm-8">
                <select   class="form-control w-lg m-r-xs pull-left" ng-model="status" disabled>
                    <option value=0 >待绑定</option>
                    <option value=1 >激活成功</option>
                    <option value=2 >激活失败</option>
                    <option value=3 >拆除</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">设备状态:</label>
            <div class="col-sm-8">
                <select   class="form-control w-lg m-r-xs pull-left" ng-model="deviceStatus" disabled>
                    <option value="0" >初始状态</option>
                    <option value="1">正常</option>
                    <option value="2">异常</option>
                    <option value="9">单据作废</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">申请编号:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入申请编号" class="form-control"  name="applyNum" ng-model="device.applyNum" readonly>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">设备到期日期:</label>
            <div class="col-sm-8">
                <input id="endTime"  class="form-control w-sm pull-left m-r-xs " placeholder="请选择设备到期日期" type="text" value="{{device.endTime | date:'yyyy-MM-dd'}}" readonly/>
                <button  onClick="javascript:WdatePicker({el:'endTime',dateFmt:'yyyy-MM-dd',skin:'twoer'});" type="button" class="btn btn-default pull-left m-r-xs" disabled><i class="glyphicon glyphicon-calendar"></i></button>



                <!--<input type="text" placeholder="请选择设备到期日期" readonly class="form-control w-sm pull-left m-r-xs"  name="endTime" ng-model="device.endTime"  datepicker-popup="{{format}}" is-open="foundTimeOpened" datepicker-options="dateOptions"   close-text="关闭"  >
                <span>
                    <button type="button" class="btn btn-default pull-left m-r-xs" ng-click="timeTool($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>-->

            </div>
        </div>

 <!--       <div class="form-group row">
            <label class="col-sm-3 control-label text-right">设备状态:</label>
            <div class="col-sm-8">
                <select   class="form-control w-lg m-r-xs pull-left" ng-model="device.status" >
                    <option value="1" selected >正常</option>
                    <option value="0">禁用</option>
                </select>
            </div>
        </div>-->


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">备注:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入备注" class="form-control"  name="remark" ng-model="device.remark">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-primary" ng-click="update()" ng-disabled='form.$invalid'>保存</button>
</div>