<div class="wrapper-md"  ng-controller="updateAreaController">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <form name="form"  novalidate>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 m-b">
                区域名称：
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-b">
                <input type="text" class="form-control" name="name" ng-model="areaDto.area.areaName" required/>
                <p>
                    <span style="color: red" ng-show="form.name.$invalid">
                        <span ng-show="form.name.$error.required">*区域名称不可为空</span>
                    </span>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 m-b">
                区域备注：
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-b">
                <input type="text" class="form-control" ng-model="areaDto.area.remark"/>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 m-b">
                区域类型：
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-b">
                <select name="flag" class="form-control w-lg m-r-xs pull-left" ng-model="areaDto.flag" >
                    <option value="0" selected >不可进入</option>
                    <option value="1">不可出围</option>
                </select>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 m-b">
                设置范围：
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-b">
                <p>
                    <button class="btn btn-success" ng-click="addL()">生成区域范围</button>   <button class="btn btn-success" ng-click="revokeWl()">清除区域范围</button>
                    <button class="btn btn-success" ng-click="revokeBz(1)">撤销全部标注</button>   <button class="btn btn-success" ng-click="revokeBz(0)">撤销标注</button>
                    <button class="btn btn-success" id="buttonPoint" ng-click="getPoint()" >启用标注</button>
                </p>
                <input type="text" placeholder="城市名称"  class="form-control w-sm pull-left m-r-xs" ng-model="smp.city"/>
                <input type="text" placeholder="区县名称"  class="form-control w-sm pull-left m-r-xs" ng-model="smp.area"/>

                <button class="btn btn-success" ng-click="searchMp()">查询</button>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 m-b">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-b">
                <div id="allmap" style="width:640px;height:480px"></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-b">
                <!--车辆设置：-->
                <button class="btn btn-success" ng-click="addVehicle()">添加车辆</button>   <button class="btn btn-success" ng-click="removeVehicle()">移除车辆</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 m-b">

            </div>


        </div>


        <div class="table-responsive">
            <div id="tableSize" class="setTableDivClass" ng-grid="gridMonitorlist" style="height:300px;font-size: 9px;background-color:#fff;"></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 m-b">
                <button class="btn btn-success" ng-click="goback()">返回</button>
                <button class="btn btn-success" ng-click="update()" ng-disabled='form.$invalid' >保存区域</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 m-b">

            </div>
        </div>
    </form>
</div>