<div ng-controller="carTrackPlaybackController">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="w-full bg-light lter b-b wrapper-xs">
        <table width="99%">
            <tbody>
            <tr>
                <td width="6%">
                    <label class="control-label text-left pull-right m-r-xs">SIM卡号:</label>
                </td>
                <td width="6%">
                    <label class="control-label text-left pull-left m-r-xs">{{simCardNum}}</label>
                </td>
                <td width="6%">
                    <label class="control-label text-left pull-right m-r-xs">车牌号:</label>
                </td>
                <td width="6%">
                    <label class="control-label text-left pull-left m-r-xs">{{vehiclePlateNum}}</label>
                </td>
                <td width="6%">
                    <label class="control-label text-left pull-right m-r-xs">用户姓名:</label>
                </td>
                <td width="6%">
                    <label class="control-label text-left pull-left m-r-xs">{{userName}}</label>
                </td>
                <td width="50%">
                    <input id="beginTime" ng-model="beginTime" class="form-control w-sm pull-left m-r-xs m-b-xs" placeholder="开始日期" type="text"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'twoer',minDate:'#F{$dp.$D(\'endTime\',{d:-9});}',maxDate:'#F{$dp.$D(\'endTime\')}'})">
                    <button id="btnBeginTime" onClick="WdatePicker({el:'beginTime',dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'twoer',minDate:'#F{$dp.$D(\'endTime\',{d:-9});}',maxDate:'#F{$dp.$D(\'endTime\')}'})" type="button" class="btn btn-default pull-left m-r-xs m-b-xs"><i class="glyphicon glyphicon-calendar"></i></button>
                    <input id="endTime" ng-model="endTime" class="form-control w-sm pull-left m-r-xs m-b-xs" placeholder="结束日期" type="text"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'twoer',maxDate:'#F{$dp.$D(\'beginTime\',{d:9});}',minDate:'#F{$dp.$D(\'beginTime\')}'})">
                    <button id="btnEndTime" onClick="WdatePicker({el:'endTime',dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'twoer',maxDate:'#F{$dp.$D(\'beginTime\',{d:9});}',minDate:'#F{$dp.$D(\'beginTime\')}'})" type="button" class="btn btn-default pull-left m-r-xs m-b-xs" ><i class="glyphicon glyphicon-calendar"></i></button>
                    <span style="color: red;position: absolute;margin-top:5px">
                        <span>* 最大时间段不能超过10天</span>
                    </span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger pull-right m-b-xs" ng-click="stop()" ng-show="playStatus != 'unload'">停止</button>
                    <button type="button" class="btn btn-warning pull-right m-b-xs" ng-click="pause()" ng-show="playStatus == 'play'">暂停</button>
                    <button type="button" class="btn btn-success pull-right m-b-xs" ng-click="play()" ng-show="playStatus=='stop' || playStatus=='pause'">播放</button>
                    <button type="button" class="btn btn-default pull-right m-b-xs" ng-click="initTrack()">查询</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <slider ng-model="playSlider" floor="1" ceiling="100" ng-change="sliderChanged()">
    </slider>
    <div id="allmap" style="width: 100%; height: 54vh;" fullscreen="isFullscreen" only-watched-property></div>
    <div class="table-responsive">
        <div class="setTableDivClass" ng-grid="gridDataList" fullscreen="isFullscreen" style="width: 100%;position:fixed;height:30vh;font-size:11px;background-color:#fff;"></div>
    </div>
</div>