<style>
  table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    align: ceter;
  }
  table tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>

<div class="wrapper-xs">
  <div class="panel panel-default">
    <div class="panel-heading font-bold" align = "center">车主姓名查询</div>
    <div class="panel-body">
      <table>
        <thead>
        <tr>
          <th>选择</th>
          <th>车架号</th>
          <th>车主姓名</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in infos">
          <td><button class="btn btn-default" ng-click="choose(item)">选择</button></td>
          <td>{{item.vehicleIdentifyNum}}</td>
          <td>{{item.leaseCustomerName}}</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">关闭</button>
      </div>
    </div>
  </div>
</div>